.checkout-info-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.receipt-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.sale-ids {
    margin-top: 10px;
}

.sale-id {
    background-color: #eee;
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}

.receipt-summary {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.receipt-summary-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
}

.receipt-summary-item p {
    margin: 0;
    font-weight: bold;
}

.receipt-summary-item:last-child {
    border-top: 1px solid #ddd;
}

@media print {
    .checkout-info-container{
        visibility: visible;
    }

    .print-content {
        visibility: visible;
    }
}