.product-grid {
    display: grid;
    grid-gap: 15px; /* Adjust the gap as needed */
    /* margin-right: 15px; */
  
    /* Define a responsive grid with a minimum column width */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust minmax values as needed */
  }
  
  .product-item {
    margin-bottom: 16px; /* Adjust the margin as needed */
  }
  

  .product-card-container {
    /* margin: 20px auto; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    /* max-width: 800px; */
    /* box-shadow: 5; */
  }
  
  .product-list {
    margin-bottom: 20px;
  }
  
  /* .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 16px;
  } */

  /* ProductCard.css */
  .link-no-underline {
    text-decoration: none; /* Remove underlines */
    color: inherit; /* Inherit the color from parent */
  }

  .link-no-underline:hover {
    text-decoration: none; /* Remove underlines on hover */
    color: inherit; /* Inherit the color from parent on hover */
  }


  .cardClass {
    transition: transform 0.2s ease; /* Add smooth transition effect */
  }
  
  .cardClass:hover {
    background-color: #e6ebf1;
    transform: scale(1.05); /* Scale the card slightly on hover */
  }
  
  
  .product-item {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  }
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    /* padding: 8px 16px;
    margin: 0 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease; */
    background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0 4px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .page-count {
    margin: 0 10px;
    font-size: 18px;
    color: #333;
  }
  
  .pagination button.active {
    background-color: #1c1d1e;
    color: #fff;
  }
  
  .pagination button:disabled {
    background-color: #ccc; /* Change to your preferred disabled button color */
    color: #666; /* Change to your preferred text color for disabled button */
    cursor: not-allowed;
  }
  
  /* Add hover styles for disabled buttons (optional) */
  .pagination button:disabled:hover {
    background-color: #ccc;
    color: #666;
  }

  

